<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>684401173597-l6t3hvip67srjuddt58192ejsa4naqpk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.684401173597-l6t3hvip67srjuddt58192ejsa4naqpk</string>
	<key>API_KEY</key>
	<string>AIzaSyAuj8tVUiypZoHzP2nnCRpHvo7WCLT3LHE</string>
	<key>GCM_SENDER_ID</key>
	<string>684401173597</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Zoe.Final-Project</string>
	<key>PROJECT_ID</key>
	<string>lostnfound-f9689</string>
	<key>STORAGE_BUCKET</key>
	<string>lostnfound-f9689.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:684401173597:ios:a06c029371b38e9bfad9b4</string>
	<key>DATABASE_URL</key>
	<string>https://lostnfound-f9689.firebaseio.com</string>
</dict>
</plist>